{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Royal Gallery</title>
    {% endif %}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/basehome.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px|Teko&display=swap" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% include "navbar.html" %}

    <div class="container-fluid" style="font-family: 'Slabo 27px', serif;" >
        
        {% block content %}
        <h1 class="text-center">Images for {{date|date:"l d-F Y"}}</h1>
        {% endblock %}

    </div>

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}

    {% include 'footer.html' %}
</body>
</html>