{% extends 'all-out/base.html' %}
{% block content %}

<div class="row">
    {% for image in images %}
    <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="card" style="width: 18rem;">
            <img class="img-thumbnail" src="{{ image.image_url.url}}" alt="Card image cap" style='max-height: 5rem !important;' width="18rem">
        </div>
    </div>
    {% empty %}
    <h3 class="text-dark" style="text-align: center" >There no Images Yet!</h3>
    {% endfor %}
</div>

{% endblock %}